<app-header [backRouter] = "backRouter" [isPopin]="true" title="{{title}}"></app-header>

<ion-content class="ion-padding content-post">

    <form [formGroup]="form">

        @if ( currentCollection.formFields ) {
            @for (  item of currentCollection.formFields ; track item.name) {


                @if ( item.type === EngineDocumentFieldType.default ||
                      item.type === EngineDocumentFieldType.textarea ||
                      item.type === EngineDocumentFieldType.wysiwig  ) {

                <ion-row>
                    <h3>{{ item.label }}</h3>
                </ion-row>
                <ion-row>
                    @if ( item.type === EngineDocumentFieldType.default) {
                        <ion-input formControlName="{{item.name}}"></ion-input>
                    }
                    @if ( item.type === EngineDocumentFieldType.textarea) {
                        <ion-textarea rows="6" formControlName="{{item.name}}"></ion-textarea>
                    }
                    @if ( item.type === EngineDocumentFieldType.wysiwig) {
                        <div class="editor">
                            <ngx-editor-menu [editor]="editor" [toolbar]="AppComponent.toolbar">
                            </ngx-editor-menu>
                            <ngx-editor [editor]="editor" formControlName="{{item.name}}">
                            </ngx-editor>
                        </div>
                    }

                </ion-row>
                }


                @if ( item.type === EngineDocumentFieldType.image) {
                    <ion-row class="row-img" (click)="selectImage()">
                        <img  [class.cover]="currentImageUrl"
                              [src]="currentImageUrl?currentImageUrl:'assets/images/image.png'"
                              alt="" class="img"/>
                        <small style="text-align: center">Cliquez ici pour changer l'image</small>
                    </ion-row>

                }

                @if ( item.type === EngineDocumentFieldType.checkbox) {
                    <ion-row>
                        <ion-toggle (ionChange)="changeToggleEvent($event)" [checked]="isPublished">
                            {{ item.label }}
                        </ion-toggle>
                    </ion-row>
                }

            }
        }



        @if ( currentId != "" ) {
        <ion-row class="ion-justify-content-center">
            <ion-button (click)="doRemove()" class="main-button remove">Supprimer</ion-button>

        </ion-row>
        }
    </form>
</ion-content>