<app-header [isPopin]="true" title="{{title}}"></app-header>

<ion-content class="ion-padding content-post">

    <form [formGroup]="postForm">
        <ion-row class="row-img" (click)="selectImage()">
            <img  [class.cover]="currentImageUrl"
                 [src]="currentImageUrl?currentImageUrl:'assets/images/image.png'"
                 alt="" class="img"/>
            <small style="text-align: center">Cliquez ici pour changer l'image</small>
        </ion-row>
        <ion-row class="ion-padding-top">
            <h3>Categories</h3>
        </ion-row>
        <ion-row>
            <app-item-selector (onSelect)="onSelectCategories($event)" [horizontalScroll]="true"
                               [items]="categories"
                               [multiSelection]="true"></app-item-selector>
        </ion-row>

        @if (isAi) {
            <ion-row class="ion-padding-top">
                <h3> Génération IA <span class="switchTitle" (click)="doSwitchAiManuel()"> Manuel </span></h3>
            </ion-row>
            <ion-row>
                <ion-textarea formControlName="aiPattern" rows="5"></ion-textarea>
            </ion-row>
        } @else {

            <ion-row class="ion-padding-top">
                <h3>Titre
                    @if (currentId == '') {
                        <span class="switchTitle" (click)="doSwitchAiManuel()"> AI </span>

                    }
                </h3>

            </ion-row>
            <ion-row>
                <ion-input formControlName="title"></ion-input>
            </ion-row>
            <ion-row>
                <h3>Contenu</h3>
            </ion-row>
            <ion-row>
                <div class="editor">
                    <ngx-editor-menu [editor]="editor" [toolbar]="AppComponent.toolbar">
                    </ngx-editor-menu>
                    <ngx-editor [editor]="editor" formControlName="content">
                    </ngx-editor>
                </div>

            </ion-row>
        }
        <ion-row>
            <h3>Durée</h3>
        </ion-row>
        <ion-row>
            <app-item-selector (onSelect)="onSelectDuration($event)" [horizontalScroll]="true"
                               [items]="durations"
            ></app-item-selector>

        </ion-row>

        <ion-row class="ion-padding-top">
            <h3>Visibilité</h3>
        </ion-row>
        <ion-row>
            <ion-toggle (ionChange)="changeToggleEvent($event)" [checked]="isPublished">Activer / Désactiver la
                visibilité de votre article
            </ion-toggle>
            <br/><br/>

        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button class="main-button" (click)="doValid()">Valider</ion-button>

        </ion-row>

        @if ( currentId != "" ) {
        <ion-row class="ion-justify-content-center">
            <ion-button (click)="doRemove()" class="main-button remove">Supprimer</ion-button>

        </ion-row>
        }
    </form>
</ion-content>