<app-header [showAdd] ="true" [isPopin]="false" title="{{label}}"></app-header>
<ion-content [fullscreen]="true" class="ion-padding content ">
    <!--app-item-selector (onSelect)="onSelectCategories($event)" [horizontalScroll]="true" [items]="categories"
                       [multiSelection]="true"></app-item-selector-->

    <ion-fab  class="ion-hide-md-up" slot="fixed" horizontal="end" vertical="bottom">
        <ion-fab-button (click)="doAdd()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="content-list ion-no-margin ion-no-padding">
        <ion-list>

            @for ( item of items; track item.id) {

                <ion-item (click)="doEdit ( item.name )" class="article">
                    @for ( header of headers; track header.name) {

                    @if ( header.type === EngineDocumentFieldType.image ) {
                    <ion-thumbnail class="article-img">
                        <img src="{{ item [ header.name ] }}"/>
                    </ion-thumbnail>
                    }


                    @if ( header.type === EngineDocumentFieldType.default ) {
                        <div class="article-text" style="width: {{header.width }}">{{  item [ header.name ] }}</div>
                    }

                    @if ( header.type === EngineDocumentFieldType.wysiwig ) {
                        <div class="article-text"> {{ item [ header.name ]|stripHtml }}</div>

                    }}
                    </ion-item>
            }
        </ion-list>
    </div>
</ion-content>
