
.item {
  padding: 1px !important;
  margin: 1px !important;
  --padding-start: 0;

  .value-img {
    --size: 50px;
    --border-radius: 15px;
    margin-right: 10px;

    img {
      width: 50px;
      min-width: 50px;
      max-width: 50px;
    }
  }


  .header {
    font-size: 16px;
    font-weight: bold;
    color: #20202E;
    margin-bottom: 5px;
  }

  .value {
    font-size: 16px;
    font-weight: normal;
    color: #20202E;
    margin-bottom: 5px;
    text-align: left;
  }




}

.content-list {
  --background-color: #FFFFFF;
  --overflow: hidden;
}


hr {

  border-top: 1px solid #EBEBEB;
  margin-top: 5px;
  margin-bottom: 5px;
}

ion-button {
  font-weight: bold;
  text-transform: none;
  height: 40px !important;
  margin-top: -5px;
  --background: black;
  border-radius: 32px !important;
  --border-radius: 32px !important;
  color: white;
}

ion-item {
  cursor: pointer;
}

ion-fab {
  margin: 20px;
  --background: black;
  --background-color: black;

  ion-fab-button {
    --background: black;
    --background-color: black;
  }
}
