<app-header [showAdd] ="false" [isPopin]="false" title="Gestion des utilisateurs"></app-header>
<ion-content [fullscreen]="true" class="ion-padding content ">
    <div class="content-list ion-no-margin ion-no-padding">
        <ion-list>
            @for (user of users; track user.id) {

                <ion-item (click)="doEdit ( user.id  )">
                    <ion-col>
                        {{user.email}}
                    </ion-col>
                    <ion-col size="auto">
                    <ion-toggle (ionChange)="doEnabled(user.id , $event)" [checked]="user.enabled"></ion-toggle>
                    </ion-col>
                </ion-item>
                <hr/>
            }
        </ion-list>
    </div>
</ion-content>
