.chip-selected {
  --background: blue;
  --color: #ffffff;
}


.row-img {
  height: 250px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

.switchTitle {
  font-size: 16px;
  font-weight: bold;
  color: #21CC9E;
  padding-top: 5px;
  margin-left: 30px;
}


.img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  cursor: pointer;
  border-radius: 16px;

  &.cover {

    object-fit: cover;
  }


}

ion-button {
  margin-top: 15px;
  width: 300px;

}

.remove {
  margin-top: 5px;
  border: 2px solid red;
  --background: transparent;
  --border-color : red;
  --border-width : 2px;
  color: red;
}

.content-post {
  --padding-bottom: 100px !important;

}