ion-footer {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.title {
  margin-left: 30px;
  margin-right: 30px;

  font-weight: bold;
}

.link-marge {
  padding-top: 20px;
  text-align: end;
}

.link {
  color: black !important;
}


ion-menu-toggle {
  --color: black !important;
  color : black !important;
}


.menu-button {
  text-align: left !important;
  text-transform: none;
  font-weight: normal;
  height: 40px;
  --background: white;
  color: black;
}




