<app-header [isPopin]="true" title="{{title}}"></app-header>

<ion-content class="ion-padding content-post">

    <form [formGroup]="form">

            <ion-row class="ion-padding-top">
                <h3>Nom</h3>
            </ion-row>
            <ion-row>
                <ion-input formControlName="name"></ion-input>
            </ion-row>


        <ion-row class="ion-justify-content-center">
            <ion-button class="main-button" (click)="doValid()">Valider</ion-button>

        </ion-row>

    </form>
</ion-content>