.chip-selected {
  --background: blue;
  --color: #ffffff;
}


.row-img {
  height: 250px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

.switchTitle {
  font-size: 16px;
  font-weight: bold;
  color: #21CC9E;
  padding-top: 5px;
  margin-left: 30px;
}


.img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  cursor: pointer;
  border-radius: 16px;
  &.cover {

    object-fit: cover;
  }


}

ion-button {
  margin-top: 15px;
  width: 300px;

}

.remove {
  margin-top: 5px;
  border: 2px solid red;
  --border-radius: 32px !important;
  --border-width: 2px !important;
  --background: transparent;
  color: red;
}

.content-post {
  --padding-bottom: 100px !important;

}

.editor {
  width: 100%;
  padding-bottom: 20px;
}

.search-button {
  width: 150px;
  height: 30px;
  --background: gray;
  margin-top: 15px;
}

.virtual-input {
  opacity: 0.3;
  --ion-placeholder-opacity: 1;
}

form {
  padding: 0px;
  margin:0px;
}


.title-toggle {
  font-size: 20px;
  padding-right: 20px;
}

ion-toggle {
  padding-top: 30px;
  --handle-background-checked: #95c34e;
}

.hr {
  width: 100%;
  background-color: gray;
  height: 2px;
  opacity: 0.1;
  margin: 0px;
}