<app-header [showAdd] ="true"  onAddRouter="/admin/organization" [isPopin]="false" title="Gestion des entreprises"></app-header>
<ion-content [fullscreen]="true" class="ion-padding content ">
    <div class="content-list ion-no-margin ion-no-padding">
        <ion-list>
            @for (item of items; track item.id) {

                <ion-item (click)="doEdit ( item.id  )">
                    {{item.name}}
                </ion-item>
                <hr/>
            }
        </ion-list>
    </div>
</ion-content>
