<app-header title="Recherche et remplace"></app-header>
<ion-content [fullscreen]="true" class="ion-padding content ">
    <ion-row>
        <ion-col size="10">
            <ion-input [(ngModel)]="search" class="input">
                <ion-icon slot="start" name="search" aria-hidden="true"></ion-icon>
            </ion-input>
        </ion-col>
        <ion-col>
            <ion-button class="button" (click)="doSearch()">
                Rechercher
            </ion-button>
        </ion-col>

    </ion-row>



    <div class="content-list ion-no-margin ion-no-padding">

        @if ( searchInProgress ) {

            <p>Recherche en cours...</p>

        } @else {

        <ion-list>
            @for (item of items; track item.id) {

                <ion-item (click)="doEdit( item.id  )" class="article" lines="none">

                    <div>
                        <div class="article-title">{{ item.raw.segment }}</div>

                    </div>

                </ion-item>
                <hr/>
            }
        </ion-list>
        }
    </div>
</ion-content>
