
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.content {
  width: 360px;
  --padding-top: 30px;
}

.logo {
  width: 155px;
  padding-top: 20px;
  margin-top: 10px;
}

h1 {
  font-size: 45px;
  text-align: start;
  margin-top: 31px;
  margin-bottom: 53px;
  line-height: 45px;
}


ion-label {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}


ion-checkbox {
  --background: black;
  --border-radius: 4px;
  --height: 24px;
  --width: 24px;
  --checkbox-background-checked: black;
  --border-color: black;
  --border-color-checked: black;
}

